BODY.ns-0 .navbox {
	DISPLAY: none
}
BODY.ns-0 .NavFrame {
	DISPLAY: none
}
BODY.ns-0 .metadata {
	DISPLAY: none
}
.dablink {
	DISPLAY: none
}
#catlinks {
	DISPLAY: none
}
.toccolours {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #aaa 1px solid
}
.reflist4 {
	HEIGHT: auto! important
}
.references-scroll {
	OVERFLOW: visible! important; max-height: none
}
